In [15]:
# This is Lecture 04a Exercise 1, 2, 3 (Missing Values in the Pima Indians Diabetes Database) 
# of the "Data Science" class at Technische Hochschule Rosenheim

## Missing Values in the "Pima Indians Diabetes Database"

We will practice out skills in detecting and handling missing values using a well known, real world dataset.

This dataset is originally from the National Institute of Diabetes and Digestive and Kidney Diseases. The objective of the dataset is to diagnostically predict whether or not a patient has diabetes, based on certain diagnostic measurements included in the dataset. Several constraints were placed on the selection of these instances from a larger database. In particular, all patients here are females at least 21 years old of Pima Indian heritage.

The datasets consists of several medical predictor variables and one target variable, Outcome. Predictor variables includes the number of pregnancies the patient has had, their BMI, insulin level, age, and so on.

##### Dataset Source
Original Owners:
National Institute of Diabetes and Digestive and Kidney Diseases

Donor of database:
Vincent Sigillito (vgs '@' aplcen.apl.jhu.edu)Research Center, RMI Group LeaderApplied Physics LaboratoryThe Johns Hopkins UniversityJohns Hopkins RoadLaurel, MD 20707(301) 953-6231

Relevant Paper:
Smith, J.W., Everhart, J.E., Dickson, W.C., Knowler, W.C., & Johannes, R.S. (1988). Using the ADAP learning algorithm to forecast the onset of diabetes mellitus. In Proceedings of the Symposium on Computer Applications and Medical Care} (pp. 261*265). IEEE Computer Society Press.

### Attribute Information

**Number of Instances**: 768

**Number of Attributes**: 8 plus class 

1. Number of times pregnant 
2. Plasma glucose concentration a 2 hours in an oral glucose tolerance test 
3. Diastolic blood pressure (mm Hg) 
4. Triceps skin fold thickness (mm)
5. 2-Hour serum insulin (mu U/ml) 
6. Body mass index (weight in kg/(height in m)^2) 
7. Diabetes pedigree function (scores the likelihood of diabetes based on family history)
8. Age (years) 
9. Class variable (0 or 1)

### Missing Values in the Dataset

The donors of the dataset did not make any statements regarding missing values. However, there must be some: there are zeros in places where they are biologically impossible, such as the blood pressure attribute. It seems very likely that zero values encode missing data.

In [16]:
# imports
import numpy as np
import pandas as pd

In [17]:
# load the dataset
raw = pd.read_csv('data/pima-indians-diabetes.csv')
print(raw.dtypes)

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

### Exercise 1
Explore the data and identify, in which attributes missing values may be present and how they are encoded. Clean the data by makeing sure that all missing values are encoded as `NaN`.

Hints: 
* Dataframes have a `describe()` method, which computes summary statistics and can be very usefulto explore. Note that `describe()` returns a Dataframe
* Transposing the result of the `describe()` methods makes it easier to read (imho). (with the `transpose()` method or the shortcut `T`)
* The `value_counts()` method (applicable to both Series and Dataframes) returns all values together with the information, how often they appear. This can be very useful for exploring attributes with low cardinality. It is even more useful if combined with the `sort_index()` method or the `sort_values()` method (which sort by index or values, as their name implies). For continuous attributes, the `bins` parameter of the `value_counts()` method is very helpful, it specifies the number of bins to group the data into (in my experience, 20 is a reasonable starting value).

In [18]:
# --------- SOLUTION
raw.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [19]:
# Pregnancies sus but possible. cap at 10-12? 0 can be wrong entries
# Glucose 0 impossible, low and high values seem plausible
# BloodPressure of 50 unhealthy, unlikely true. high is ok
# SkinThickness up to 40? 0 and 99 impossible
# Insulin 0 and 300+ sus
# BMI 0 impossible. Many fat people. 20-30 plausible
# DPF 2+ is a lot but can vary
# Age looks good

# raw.sort_values("DiabetesPedigreeFunction")["DiabetesPedigreeFunction"].head(60)
(raw == 0).sum()

Pregnancies                 111
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                     500
dtype: int64

### Exercise 2
For each attribute containing missing values, decide on the assumption (MCAR, MAR, MNAR) to use and which approach to handling missing values you would use. Explain/justify your decisions!

In [20]:
# --------- SOLUTION
"""
Pregnancy values of 0 can be wrong. those cases would be MCAR or MNAR
-women just not wanting to disclose the number or bc they feel bad about the value
Glucose levels of 0 seem like MCAR
-lost data or not tested
BloodPressure of 0 seems like MCAR
-lost data or not tested
SkinThickness of 0 seems like MCAR or maybe MAR
-not able to test (maybe bc of the underlying condition)
Insulin 0 can be MCAR or MAR
-it is tested with Glucose levels but bad data?
BMI of 0 is MNAR
-not wanting to disclose because it's too high lol
"""
raw[raw==0].count()

Pregnancies                 111
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                     500
dtype: int64

### Exercise 3
a) implement listwise deletion (complete-case analysis) for all attributes with missing values. How many rows do you have left?

b) implement simple imputation by the mean for all attributes with missing values

In [21]:
# --------- SOLUTION
clean = raw.copy()
boola = (raw[["Glucose","BloodPressure","BMI"]] == 0).any(axis=1)
clean = clean[boola].reset_index()
print(clean)

clean2 = raw.replace(0,np.nan) # 111x9
clean2 = clean2.fillna(clean2.mean())
print(clean2.mean())
clean2

    index  Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI
0       7           10      115              0              0        0  35.3  \
1       9            8      125             96              0        0   0.0
2      15            7      100              0              0        0  30.0
3      49            7      105              0              0        0   0.0
4      60            2       84              0              0        0   0.0
5      75            1        0             48             20        0  24.7
6      78            0      131              0              0        0  43.2
7      81            2       74              0              0        0   0.0
8     145            0      102             75             23        0   0.0
9     172            2       87              0             23        0  28.9
10    182            1        0             74             20       23  27.7
11    193           11      135              0              0        0  52.3
12    222            7      119              0              0        0  25.2
13    261            3      141              0              0        0  30.0
14    266            0      138              0              0        0  36.3
15    269            2      146              0              0        0  27.5
16    300            0      167              0              0        0  32.3
17    332            1      180              0              0        0  43.3
18    336            0      117              0              0        0  33.8
19    342            1        0             68             35        0  32.0
20    347            3      116              0              0        0  23.5
21    349            5        0             80             32        0  41.0
22    357           13      129              0             30        0  39.9
23    371            0      118             64             23       89   0.0
24    426            0       94              0              0        0   0.0
25    430            2       99              0              0        0  22.2
26    435            0      141              0              0        0  42.4
27    453            2      119              0              0        0  19.6
28    468            8      120              0              0        0  30.0
29    484            0      145              0              0        0  44.2
30    494            3       80              0              0        0   0.0
31    502            6        0             68             41        0  39.0
32    522            6      114              0              0        0   0.0
33    533            6       91              0              0        0  29.8
34    535            4      132              0              0        0  32.9
35    589            0       73              0              0        0  21.1
36    601            6       96              0              0        0  23.7
37    604            4      183              0              0        0  28.4
38    619            0      119              0              0        0  32.4
39    643            4       90              0              0        0  28.0
40    684            5      136             82              0        0   0.0
41    697            0       99              0              0        0  25.0
42    703            2      129              0              0        0  38.5
43    706           10      115              0              0        0   0.0

    DiabetesPedigreeFunction  Age  Outcome
0                      0.134   29        0
1                      0.232   54        1
2                      0.484   32        1
3                      0.305   24        0
4                      0.304   21        0
5                      0.140   22        0
6                      0.270   26        1
7                      0.102   22        0
8                      0.572   21        0
9                      0.773   25        0
10                     0.299   21        0
11                     0.578   40        1
12                     0.209   37        0
13                     0.761   27        1
14                     0.933   25        1
15                     0.240   28        1
16                     0.839   30        1
17                     0.282   41        1
18                     0.932   44        0
19                     0.389   22        0
20                     0.187   23        0
21                     0.346   37        1
22                     0.569   44        1
23                     1.731   21        0
24                     0.256   25        0
25                     0.108   23        0
26                     0.205   29        1
27                     0.832   72        0
28                     0.183   38        1
29                     0.630   31        1
30                     0.174   22        0
31                     0.727   41        1
32                     0.189   26        0
33                     0.501   31        0
34                     0.302   23        1
35                     0.342   25        0
36                     0.190   28        0
37                     0.212   36        1
38                     0.141   24        1
39                     0.610   31        0
40                     0.640   69        0
41                     0.253   22        0
42                     0.304   41        0
43                     0.261   30        1
Pregnancies                   4.494673
Glucose                     121.686763
BloodPressure                72.405184
SkinThickness                29.153420
Insulin                     155.548223
BMI                          32.457464
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       1.000000
dtype: float64

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.000000,148.0,72.0,35.00000,155.548223,33.6,0.627,50,1.0
1,1.000000,85.0,66.0,29.00000,155.548223,26.6,0.351,31,1.0
2,8.000000,183.0,64.0,29.15342,155.548223,23.3,0.672,32,1.0
3,1.000000,89.0,66.0,23.00000,94.000000,28.1,0.167,21,1.0
4,4.494673,137.0,40.0,35.00000,168.000000,43.1,2.288,33,1.0
...,...,...,...,...,...,...,...,...,...
763,10.000000,101.0,76.0,48.00000,180.000000,32.9,0.171,63,1.0
764,2.000000,122.0,70.0,27.00000,155.548223,36.8,0.340,27,1.0
765,5.000000,121.0,72.0,23.00000,112.000000,26.2,0.245,30,1.0
766,1.000000,126.0,60.0,29.15342,155.548223,30.1,0.349,47,1.0
767,1.000000,93.0,70.0,31.00000,155.548223,30.4,0.315,23,1.0

---