In [ ]:
# This is Homework 06c (Further Material)
# of the "Data Science" class at Technische Hochschule Rosenheim

In [ ]:
# import numpy and pandas
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Further Material

This notebook covers a couple of subjects we will need for the class and which are not contained in the textbook. It will introduce a number of methods - use the documentation to learn about the method and it's parameters!

https://pandas.pydata.org/pandas-docs/stable/

### Reading and Writing Data in Text Format

Use the DataFrame method `read_csv` for the following exercise.

You are given a dataset of "census income data" in csv format, each row represents one person with the following attributes: age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hours-per-week, native-country, income.

You can find this dataset in 'data/adult.data'.

- read the data into a DataFrame 'adult'. Make sure to name the columns properly.
- verify that adults contains 32561 tupels.

In [ ]:
## Solutions

### JSON, XML and HTML

Use the DataFrame method `to_json` for the following exercise.

- write the 'adult' DataFrame to a JSON file 'adult.data.json' in the 'output' directory.
- verify the contents of the file using a web browser.

In [ ]:
## Solutions

### Binary Data Formats

Use the DataFrame method `ExcelFile` for the following exercise.

There is another file containing income data, in Excel format: 'data/adult.test.xlsx'.
- open this excel file as 'xls_file'
- use the property 'sheet_names' to figure out the name of the Sheets in this Excel file.
- use the 'parse' method to read the (only) Sheet into a DataFrame 'adult_test' and verify the result by looking at the first 5 rows.

In [ ]:
## Solutions

### Reindexing

Use the DataFrame methods `reindex` and `drop` for the following exercise.

You are given the following revenue data:

In [ ]:
df3 = DataFrame({'2010': {'Hans':1500, 'Egon':2500, 'Ute':3500, 
                'Susi':4000, 'Klaus':2200}, 
      '2011': {'Klaus': 6000, 'Uwe': 1500, 'Hans': 1000, 
               'Susi': 5000, 'Antonia':10000}})
df3.index.name = 'customer'
df3.columns.name='year'

- Use reindexing to add a row for the new customer 'Bernd' between Antonia and Egon, setting all his revenues to 0 (call this df4)
- Use reindexing to add a column for the year 2012 to df4 and call this df5
- Use the drop method twice in one line to remove the year 2010 as well as Egon and Susi from df5, call the new DataFrame df6
- use indexing and slicing to set the revenue of Bernd, Egon, Hans and Klaus to 0 for the year 2012 in df5
- set all remaining unknown revenues (NaN) to -1 using boolean indexing

In [ ]:
## Solutions

### Sorting and Ranking

Use the DataFrame methods `sort_index`, `sort_values` and `rank` for the following exercise.

In [ ]:
fra = DataFrame({'2010': {'Hans':1100, 'Klaus':200, 'Egon':300, 'Susi':400}, 
      '2012': {'Klaus': 1000, 'Jaques': 1100, 
               'Susanna': 5500, 'Julia':11100}})
fra.index.name = 'customer'
fra.columns.name='year'
fra.name = 'France'

- Sort the french customers by name
- Sort the french customers by revenue (descending) in 2012
- Now, rank the french customers by revenue (descending) in 2012, so that the customer with the highest revenue has rank 1, etc. Break ties by minimum rank, and show the result by ascending rank.
- Finally, select only the top-3 customers from the previous list.

In [ ]:
## Solutions

### Unique Values and Value Counts

Use the DataFrame methods `unique` and `value_counts` for the following exercise.

You work behind the bar in a club and write down each cocktail you make in a list:

In [ ]:
cocktails = Series(['Caipi', 'Mojito', 'Cuba Libre', 'Caipi', 'Caipi',
                   'Cuba Libre', 'Mojito', 'Caipi', 'Mojito'])

- Compute a list of all the different cocktails you made!
- How many cocktails of each kind did you make?

In [ ]:
## Solutions

### Removing/Replacing

Use the DataFrame methods `drop_duplicates` and `replace` for the following exercise.

Consider the following DataFrame 'work2' from our ERP system:

In [ ]:
work2 = DataFrame({'job': ['Projektleiter', 'Gruppenleiter', 'Sachbearbeiter', '', '', 'Projektleiter', 
                          'Gruppenleiter', '', 'Sachbearbeiter', 'Sachbearbeiter', 'Sachbearbeiter'],
                  'prj_number': ['p1', 'p3', 'p2', 'p2', 'p2', 'p3', 'p1', 'p1', 'p2', 'p3', 'p1'], 
                  'emp_number': ['10102', '10102', '25348', '18316', '29346', '2581', '9031', 
                                 '28559', '28559', '9031', '29346']})

- Each employee should have only one job in one project: remove all but the last row which violates this condition, and save the result in a new DataFrame 'work3'
- The job title 'Sachbearbeiter' has been changed to 'Spezialist'. Create a new DataFrame 'work4' based on 'work3' which reflects this change.

In [ ]:
## Solutions

### Discretization and Binning

Use the DataFrame methods `cut` and `qcut` for the following exercise.

You have an array of income numbers:

In [ ]:
incomes = [10274, 47628, 34876, 78028, 113765, 1836, 16537, 65184, 55127, 55271, 76201, 73529, 23438, 26142]

- discretize these into the incomes up to 10k, more than 10k to 50k, more than 50k to 100k and more than 100k. Print the bins together with the number of incomes in each bin.
- in addition, name your bins 'poor', 'average', 'rich' and 'filthyrich'. Again, print the bins together with the number of incomes in each bin.
- discretize these into the 4 quantiles called '25%', '50%', '75%' and '100%'. Again, print the bins together with the number of incomes in each bin.

Hint: the `max` method may be helpful as well!

In [ ]:
## Solutions

### Outliers and Random Sampling

As will define as outliers all incomes of 9000 or less and of 99000 or more.
- convert 'incomes' to a DataFrame 'incomedf'
- compute all outliers in 'incomedf'
- change all outliers in 'incomedf' to the value -1. Verify that they are indeed -1.

Use the DataFrame method `take` for the following exercise. In addition, `np.random.permutation` and `np.random.randint` may be helpful.

- draw a random sample of 5 incomes from 'incomedf' without replacement
- draw a random sample of 20 incomes from 'incomedf' with replacement

Hint: Binary and Fancy indexing will be useful for all these exercises.

In [ ]:
## Solutions

---