In [159]:
# This is Lecture05 - Exercise 2 of the "Data Science" class 
# at Technische Hochschule Rosenheim

# Iris Dataset revisited

# Part II - Outliers and Merging

Let's continue working on the three 'xxx_nmv' DataFrames.

### Exercise II.1

Load the DataFrames from the previous part. A typical next step is to look at the distribution of each individual attribute in each of these three DataFrames. We will consider all values which are further than 3-times the standard-deviation from the mean to be outliers ("z-score outliers"). Which values in which DataFrame are outliers? Create three new DataFrames 'xxx_clean' where the tuples with outliers are removed, based on the 'xxx_nmv' DataFrames.

In [160]:
%matplotlib notebook
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

In [161]:
class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

In [162]:
## ---------- SOLUTIONS
setosa_nmv = pd.read_csv("output/setosa_nmv.csv", index_col=0)
versicolor_nmv = pd.read_csv("output/versicolor_nmv.csv", index_col=0)
virginica_nmv = pd.read_csv("output/virginica_nmv.csv", index_col=0)

display("setosa_nmv.head()", "versicolor_nmv.head()", "virginica_nmv.head()")

setosa_nmv.head()
   index  sepal length  sepal width  petal length  petal width
0      0           5.1          3.5           1.4      0.20000
1      1           4.9          3.0           1.4      0.20000
2      2           4.7          3.2           1.3      0.20000
3      3           4.9          3.0           1.4      0.25614
4      4           4.6          3.1           1.5      0.20000

versicolor_nmv.head()
   sepal length  sepal width  petal length  petal width
0           7.0          3.2          0.47         0.14
1           6.4          3.2          0.45         0.15
2           6.9          3.1          0.49         0.15
3           5.5          2.3          0.40         0.13
4           6.5          2.8          0.46         0.15

virginica_nmv.head()
   sepal length  sepal width  petal length  petal width
#
1           6.3          3.3          0.60         0.25
2           5.8          2.7          0.51         0.19
3           7.1          3.0          0.59         0.21
4           6.3          2.9          0.56         0.18
5           6.5          3.0          0.58         0.22

In [163]:
display("setosa_nmv.describe().T", "versicolor_nmv.describe().T", "virginica_nmv.describe().T")

setosa_nmv.describe().T
              count       mean        std  min    25%   50%     75%   max
index          60.0  29.500000  17.464249  0.0  14.75  29.5  44.250  59.0
sepal length   60.0   5.711864   5.562986  4.3   4.80   5.0   5.200  48.0
sepal width    60.0   4.394828   5.092814  2.3   3.20   3.4   3.725  32.0
petal length   60.0   2.012281   2.838302  1.0   1.40   1.5   1.600  19.0
petal width    60.0   0.256140   0.141442  0.1   0.20   0.2   0.300   1.0

versicolor_nmv.describe().T
              count    mean       std  min    25%    50%   75%   max
sepal length   50.0  5.9360  0.516171  4.9  5.600  5.900  6.30  7.00
sepal width    50.0  2.7700  0.313798  2.0  2.525  2.800  3.00  3.40
petal length   50.0  0.4260  0.046991  0.3  0.400  0.435  0.46  0.51
petal width    50.0  0.1326  0.019775  0.1  0.120  0.130  0.15  0.18

virginica_nmv.describe().T
              count    mean       std   min    25%    50%     75%   max
sepal length   50.0  6.5880  0.635880  4.90  6.225  6.500  6.9000  7.90
sepal width    50.0  2.9740  0.322497  2.20  2.800  3.000  3.1750  3.80
petal length   50.0  0.5552  0.055189  0.45  0.510  0.555  0.5875  0.69
petal width    50.0  0.2026  0.027465  0.14  0.180  0.200  0.2300  0.25

In [164]:
display('setosa_nmv.describe().T[["mean", "std"]]', 'versicolor_nmv.describe().T[["mean", "std"]]', 'viginica_nmv.describe().T[["mean", "std"]]')

setosa_nmv.describe().T[["mean", "std"]]
                   mean        std
index         29.500000  17.464249
sepal length   5.711864   5.562986
sepal width    4.394828   5.092814
petal length   2.012281   2.838302
petal width    0.256140   0.141442

versicolor_nmv.describe().T[["mean", "std"]]
                mean       std
sepal length  5.9360  0.516171
sepal width   2.7700  0.313798
petal length  0.4260  0.046991
petal width   0.1326  0.019775

viginica_nmv.describe().T[["mean", "std"]]
               mean       std
sepal length  6.588  0.635880
sepal width   2.974  0.322497
petal length  5.552  0.551895
petal width   2.026  0.274650

In [165]:
clean = []
flowers = ["setosa_nmv", "versicolor_nmv", "virginica_nmv"]
for c in flowers:    
    dataframe = eval(c)
    means = dataframe.mean()
    stds = dataframe.std()
    outliers = dataframe[((dataframe < means + 3 * stds) | (dataframe > means - 3 * stds))]
    outliers.dropna(how="any", inplace=True)
    outliers["class"] = c
    clean.append(outliers)
    # print(outliers)
clean

[    index  sepal length  sepal width  petal length  petal width       class
 0       0      5.100000     3.500000      1.400000      0.20000  setosa_nmv
 1       1      4.900000     3.000000      1.400000      0.20000  setosa_nmv
 2       2      4.700000     3.200000      1.300000      0.20000  setosa_nmv
 3       3      4.900000     3.000000      1.400000      0.25614  setosa_nmv
 4       4      4.600000     3.100000      1.500000      0.20000  setosa_nmv
 5       5      5.000000     3.600000      1.400000      0.20000  setosa_nmv
 6       6      5.400000     3.900000      1.700000      0.40000  setosa_nmv
 7       7      4.600000     3.400000      1.400000      0.30000  setosa_nmv
 8       8      5.000000     3.400000      1.500000      0.20000  setosa_nmv
 9       9      4.600000     3.500000      2.012281      0.10000  setosa_nmv
 10     10      4.400000     2.900000      1.400000      0.20000  setosa_nmv
 11     11      4.900000     3.100000      1.500000      0.10000  setosa_nmv
 12     12      5.400000     3.700000      1.500000      0.20000  setosa_nmv
 13     13      4.900000    31.000000     15.000000      1.00000  setosa_nmv
 14     14      4.800000     3.400000      1.600000      0.20000  setosa_nmv
 15     15      4.800000     3.000000      1.400000      0.10000  setosa_nmv
 16     16      4.300000     3.000000      1.100000      0.10000  setosa_nmv
 17     17      5.800000     4.000000      1.200000      0.20000  setosa_nmv
 18     18      5.700000     4.400000      1.500000      0.40000  setosa_nmv
 19     19      5.400000     3.900000      1.300000      0.40000  setosa_nmv
 20     20      5.711864     4.394828      1.500000      0.40000  setosa_nmv
 21     21      5.100000     3.500000      1.400000      0.30000  setosa_nmv
 22     22      5.700000     3.800000      1.700000      0.30000  setosa_nmv
 23     23      5.100000     3.500000      1.400000      0.25614  setosa_nmv
 24     24      5.100000     3.800000      1.500000      0.30000  setosa_nmv
 25     25      5.400000     3.400000      1.700000      0.20000  setosa_nmv
 26     26      5.100000     3.700000      1.500000      0.40000  setosa_nmv
 27     27      4.600000     3.600000      1.000000      0.20000  setosa_nmv
 28     28      5.100000     3.300000      1.700000      0.50000  setosa_nmv
 29     29      4.800000     3.400000      1.900000      0.20000  setosa_nmv
 30     30      5.000000     3.000000      1.600000      0.20000  setosa_nmv
 31     31      4.800000     3.400000     19.000000      0.20000  setosa_nmv
 32     32      5.000000     3.400000      1.600000      0.40000  setosa_nmv
 33     33     48.000000     3.400000      1.900000      0.20000  setosa_nmv
 34     34      5.200000     3.500000      1.500000      0.20000  setosa_nmv
 35     35      5.200000     3.400000      1.400000      0.20000  setosa_nmv
 36     36      4.700000     3.200000      1.600000      0.20000  setosa_nmv
 37     37      4.800000     3.100000      1.600000      0.20000  setosa_nmv
 38     38      5.400000     3.400000      1.500000      0.40000  setosa_nmv
 39     39      5.200000     4.100000      1.500000      0.10000  setosa_nmv
 40     40      5.500000     4.200000      1.400000      0.20000  setosa_nmv
 41     41      4.900000     3.100000      1.500000      0.10000  setosa_nmv
 42     42      5.200000     4.200000      2.012281      0.25614  setosa_nmv
 43     43      5.000000     3.200000      1.200000      0.20000  setosa_nmv
 44     44      5.500000     3.500000      1.300000      0.20000  setosa_nmv
 45     45      4.900000     3.100000      1.500000      0.10000  setosa_nmv
 46     46      4.400000     3.000000      1.300000      0.20000  setosa_nmv
 47     47      5.100000     3.400000      1.500000      0.20000  setosa_nmv
 48     48      5.000000     3.500000      1.300000      0.30000  setosa_nmv
 49     49      4.500000     2.300000      1.300000      0.30000  setosa_nmv
 50     50      4.400000     3.200000      1.300000      0.20000  setosa_nmv
 51     51      5.000000     3.500000      1.600000      0.60000  setosa_nmv
 52     52      4.400000    32.000000      1.300000      0.30000  setosa_nmv
 53     53      4.800000     4.394828      2.012281      0.20000  setosa_nmv
 54     54      5.100000     3.800000      1.900000      0.40000  setosa_nmv
 55     55      4.800000     3.000000      1.400000      0.30000  setosa_nmv
 56     56      5.100000     3.800000      1.600000      0.20000  setosa_nmv
 57     57      4.600000     3.200000      1.400000      0.20000  setosa_nmv
 58     58      5.300000     3.700000      1.500000      0.20000  setosa_nmv
 59     59      5.000000     3.300000      1.400000      0.20000  setosa_nmv,
     sepal length  sepal width  petal length  petal width           class
 0            7.0          3.2          0.47         0.14  versicolor_nmv
 1            6.4          3.2          0.45         0.15  versicolor_nmv
 2            6.9          3.1          0.49         0.15  versicolor_nmv
 3            5.5          2.3          0.40         0.13  versicolor_nmv
 4            6.5          2.8          0.46         0.15  versicolor_nmv
 5            5.7          2.8          0.45         0.13  versicolor_nmv
 6            6.3          3.3          0.47         0.16  versicolor_nmv
 7            4.9          2.4          0.33         0.10  versicolor_nmv
 8            6.6          2.9          0.46         0.13  versicolor_nmv
 9            5.2          2.7          0.39         0.14  versicolor_nmv
 10           5.0          2.0          0.35         0.10  versicolor_nmv
 11           5.9          3.0          0.42         0.15  versicolor_nmv
 12           6.0          2.2          0.40         0.10  versicolor_nmv
 13           6.1          2.9          0.47         0.14  versicolor_nmv
 14           5.6          2.9          0.36         0.13  versicolor_nmv
 15           6.7          3.1          0.44         0.14  versicolor_nmv
 16           5.6          3.0          0.45         0.15  versicolor_nmv
 17           5.8          2.7          0.41         0.10  versicolor_nmv
 18           6.2          2.2          0.45         0.15  versicolor_nmv
 19           5.6          2.5          0.39         0.11  versicolor_nmv
 20           5.9          3.2          0.48         0.18  versicolor_nmv
 21           6.1          2.8          0.40         0.13  versicolor_nmv
 22           6.3          2.5          0.49         0.15  versicolor_nmv
 23           6.1          2.8          0.47         0.12  versicolor_nmv
 24           6.4          2.9          0.43         0.13  versicolor_nmv
 25           6.6          3.0          0.44         0.14  versicolor_nmv
 26           6.8          2.8          0.48         0.14  versicolor_nmv
 27           6.7          3.0          0.50         0.17  versicolor_nmv
 28           6.0          2.9          0.45         0.15  versicolor_nmv
 29           5.7          2.6          0.35         0.10  versicolor_nmv
 30           5.5          2.4          0.38         0.11  versicolor_nmv
 31           5.5          2.4          0.37         0.10  versicolor_nmv
 32           5.8          2.7          0.39         0.12  versicolor_nmv
 33           6.0          2.7          0.51         0.16  versicolor_nmv
 34           5.4          3.0          0.45         0.15  versicolor_nmv
 35           6.0          3.4          0.45         0.16  versicolor_nmv
 36           6.7          3.1          0.47         0.15  versicolor_nmv
 37           6.3          2.3          0.44         0.13  versicolor_nmv
 38           5.6          3.0          0.41         0.13  versicolor_nmv
 39           5.5          2.5          0.40         0.13  versicolor_nmv
 40           5.5          2.6          0.44         0.12  versicolor_nmv
 41           6.1          3.0          0.46         0.14  versicolor_nmv
 42           5.8          2.6          0.40         0.12  versicolor_nmv
 43           5.0          2.3          0.33         0.10  versicolor_nmv
 44           5.6          2.7          0.42         0.13  versicolor_nmv
 45           5.7          3.0          0.42         0.12  versicolor_nmv
 46           5.7          2.9          0.42         0.13  versicolor_nmv
 47           6.2          2.9          0.43         0.13  versicolor_nmv
 48           5.1          2.5          0.30         0.11  versicolor_nmv
 49           5.7          2.8          0.41         0.13  versicolor_nmv,
     sepal length  sepal width  petal length  petal width          class
 #
 1            6.3          3.3          0.60         0.25  virginica_nmv
 2            5.8          2.7          0.51         0.19  virginica_nmv
 3            7.1          3.0          0.59         0.21  virginica_nmv
 4            6.3          2.9          0.56         0.18  virginica_nmv
 5            6.5          3.0          0.58         0.22  virginica_nmv
 6            7.6          3.0          0.66         0.21  virginica_nmv
 7            4.9          2.5          0.45         0.17  virginica_nmv
 8            7.3          2.9          0.63         0.18  virginica_nmv
 9            6.7          2.5          0.58         0.18  virginica_nmv
 10           7.2          3.6          0.61         0.25  virginica_nmv
 11           6.5          3.2          0.51         0.20  virginica_nmv
 12           6.4          2.7          0.53         0.19  virginica_nmv
 13           6.8          3.0          0.55         0.21  virginica_nmv
 14           5.7          2.5          0.50         0.20  virginica_nmv
 15           5.8          2.8          0.51         0.24  virginica_nmv
 16           6.4          3.2          0.53         0.23  virginica_nmv
 17           6.5          3.0          0.55         0.18  virginica_nmv
 18           7.7          3.8          0.67         0.22  virginica_nmv
 19           7.7          2.6          0.69         0.23  virginica_nmv
 20           6.0          2.2          0.50         0.15  virginica_nmv
 21           6.9          3.2          0.57         0.23  virginica_nmv
 22           5.6          2.8          0.49         0.20  virginica_nmv
 23           7.7          2.8          0.67         0.20  virginica_nmv
 24           6.3          2.7          0.49         0.18  virginica_nmv
 25           6.7          3.3          0.57         0.21  virginica_nmv
 26           7.2          3.2          0.60         0.18  virginica_nmv
 27           6.2          2.8          0.48         0.18  virginica_nmv
 28           6.1          3.0          0.49         0.18  virginica_nmv
 29           6.4          2.8          0.56         0.21  virginica_nmv
 30           7.2          3.0          0.58         0.16  virginica_nmv
 31           7.4          2.8          0.61         0.19  virginica_nmv
 32           7.9          3.8          0.64         0.20  virginica_nmv
 33           6.4          2.8          0.56         0.22  virginica_nmv
 34           6.3          2.8          0.51         0.15  virginica_nmv
 35           6.1          2.6          0.56         0.14  virginica_nmv
 36           7.7          3.0          0.61         0.23  virginica_nmv
 37           6.3          3.4          0.56         0.24  virginica_nmv
 38           6.4          3.1          0.55         0.18  virginica_nmv
 39           6.0          3.0          0.48         0.18  virginica_nmv
 40           6.9          3.1          0.54         0.21  virginica_nmv
 41           6.7          3.1          0.56         0.24  virginica_nmv
 42           6.9          3.1          0.51         0.23  virginica_nmv
 43           5.8          2.7          0.51         0.19  virginica_nmv
 44           6.8          3.2          0.59         0.23  virginica_nmv
 45           6.7          3.3          0.57         0.25  virginica_nmv
 46           6.7          3.0          0.52         0.23  virginica_nmv
 47           6.3          2.5          0.50         0.19  virginica_nmv
 48           6.5          3.0          0.52         0.20  virginica_nmv
 49           6.2          3.4          0.54         0.23  virginica_nmv
 50           5.9          3.0          0.51         0.18  virginica_nmv]

### Exercise II.2

Combine the three 'xxx_clean' DataFrames into one DataFrame 'iris' by adding a new column 'class' which is set to 'Iris-setosa', 'Iris-versicolor' or 'Iris-virginica' respectively. Make sure the index in 'iris' are unique numbers from 0 to however-many-tuples-you-have. Save your result in a file 'output/iris_clean.csv'.

In [166]:
## ---------- SOLUTIONS
iris = clean[0].append(clean[1]).append(clean[2])
iris.reset_index(inplace=True)
del iris["index"]
iris.describe()

C:\Users\Felix\AppData\Local\Temp\ipykernel_11164\3311844987.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  iris = clean[0].append(clean[1]).append(clean[2])
C:\Users\Felix\AppData\Local\Temp\ipykernel_11164\3311844987.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  iris = clean[0].append(clean[1]).append(clean[2])

          level_0  sepal length  sepal width  petal length  petal width
count  160.000000    160.000000   160.000000    160.000000   160.000000
mean    26.687500      6.055699     3.443060      1.061230     0.200803
std     15.782399      3.439236     3.200032      1.881402     0.101960
min      0.000000      4.300000     2.000000      0.300000     0.100000
25%     13.000000      5.100000     2.800000      0.467500     0.140000
50%     26.500000      5.700000     3.000000      0.560000     0.200000
75%     40.000000      6.400000     3.400000      1.400000     0.210000
max     59.000000     48.000000    32.000000     19.000000     1.000000

------