1. find flask ids in item_data
2. cross-reference these ids with user_items #skip
3. determine amount of flasks available
4. cross-reference choice id from flasks in item_data with item id in item_data #later?
5. determine amount of potential shards for each champion
6. get current shards for each champion owned
7. get level and necessary amount to upgrade each champion owned
8. determine which champions can be leveled up #and by using which flasks (done before)
9. make exceptions for lev (very optional)
10. turn this into a standalone .py and make it automated with pulling the data when loading kong

In [122]:
# imports
import numpy as np
import pandas as pd
# import xml.etree.ElementTree as ET
from lxml import etree
import re
import itertools

In [123]:
# parse data into data structures

user_items_raw = pd.read_json("user_items.json", orient="index")
# print(user_items_raw.head())

item_data_raw = pd.read_json("item_data.json", orient="index")
# print(item_data_raw.head())

user_units_raw = pd.read_json("user_units.json", orient="index")
# print(user_units_raw.head())

# use ET for cards_shard.xml
cards_shard = etree.parse("cards_shard.xml") # type: ignore
root = cards_shard.getroot()

cards_shard_dict = {}
for unit in root.findall("unit"):
    cards_shard_dict[int(unit.find("id").text)] = unit.find("name").text

C:\Users\Felix\AppData\Local\Temp\ipykernel_10824\1498120538.py:6: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  item_data_raw = pd.read_json("item_data.json", orient="index")
C:\Users\Felix\AppData\Local\Temp\ipykernel_10824\1498120538.py:6: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  item_data_raw = pd.read_json("item_data.json", orient="index")

In [124]:
# constants for id boundaries (04.04.23), easier to change here than in-line 
flasks_id_min = 2534
flasks_id_max = 2679

# reward, aether, chaos, wyld
champion_id_min = [4000, 5600, 6600, 7600]
champion_id_max = [4999, 5999, 6999, 7999]

# shard ids are auto-generated in-game as well
champion_shards_id_min = []
champion_shards_id_max = []
for id_min, id_max in zip(champion_id_min, champion_id_max):
    champion_shards_id_min.append(id_min + 100000)
    champion_shards_id_max.append(id_max + 100000)

# constant champ level requirements
champion_costs = [50, 75, 100, 150, 225, 300, 400, 600, 900, 1200]
champion_costs_mythic = [150, 200, 250, 300, 450, 600, 750, 900, 1100, 1300]

In [125]:
# 1 find flask ids by regex (excluding mythical flasks manually)
item_data_flask_ids = item_data_raw[item_data_raw["name"].str.contains("Flask")][4:] # .dropna(axis=1, how="all")
flasks_id_min_temp = item_data_flask_ids["id"].min()
flasks_id_max_temp = item_data_flask_ids["id"].max()

# prevent reducing the id range
if flasks_id_min_temp <= flasks_id_min and flasks_id_max_temp >= flasks_id_max:
    flasks_id_min = flasks_id_min_temp
    flasks_id_max = flasks_id_max_temp
else:
    print("Error in #1: this action could possibly exclude flasks")
    # return
    
# create new dataframe with flask id and respective reward ids 
rows = []
for index, row in item_data_flask_ids.iterrows():
    obj_id = row['id']
    obj_name = row["name"]
    reward_ids = []
    for choice in row['choice']:
        reward_ids.append(choice['item'][0]['id'])
    rows.append([obj_id, obj_name] + reward_ids)

item_data_flask_rewards = pd.DataFrame(rows, columns=['id', "flask_name", 'reward1', 'reward2', 'reward3', 'reward4'])
item_data_flask_rewards.head()

     id             flask_name reward1 reward2 reward3 reward4
0  2534    Regal Teroxis Flask  104000  104001  104002  104013
1  2536  Metallic Ralgan Flask  104001  104002  104004  104014
2  2537     Stout Ralgan Flask  104000  104005  104006  104014
3  2538   Vicious Batara Flask  104001  104005  104006  104015
4  2539    Stormy Batara Flask  104000  104002  104004  104015

In [126]:
# 3 create new dataframe with flask id and amount owned
user_items_flasks = user_items_raw[user_items_raw["id"].isin(item_data_flask_rewards["id"])].merge(item_data_flask_rewards)
user_items_flasks.head()

     id  number                flask_name reward1 reward2 reward3 reward4
0  2596      25         Chaos Djinn Flask  107607  106604  106605  106606
1  2603     200            Tarragon Flask  104004  104013  104031  104038
2  2604     100           Beetleton Flask  104008  104019  104030    None
3  2644      60  Forceful Shadomeka Flask  104052  104047  104046  104032
4  2646      35  Illustrious Cellia Flask  104053  104038  104035  104016

In [127]:
# 5 create new dataframe with total amount of shards available per champion (very sql like)
user_items_flasks_melted = user_items_flasks.melt(id_vars=['id', "number"], value_vars=['reward1', 'reward2', 'reward3', 'reward4'], var_name='reward_col', value_name='reward')
print(user_items_flasks_melted.head())

# 
user_items_flasks_grouped = user_items_flasks_melted.groupby(["reward"]).agg({"id":"count", "number":"sum"}).reset_index()
user_items_flasks_grouped.head()

     id  number reward_col  reward
0  2596      25    reward1  107607
1  2603     200    reward1  104004
2  2604     100    reward1  104008
3  2644      60    reward1  104052
4  2646      35    reward1  104053

   reward  id  number
0  104004   2     235
1  104005   1      20
2  104006   1     100
3  104007   2      20
4  104008   3     145

In [128]:
# create dict with flask ids which give a certain shard
# {'107607': [2596], '104004': [2603, 2648], '104008': [2604, 2658, 2671],...}
source_dict = {}
for i, row in user_items_flasks_melted.iterrows():
    if row["reward"] is not None:
        if row["reward"] in source_dict:
            source_dict[row["reward"]].append(row["id"])
        else:
            source_dict[row["reward"]] = [row["id"]]
            
# create new dataframe from source_dict which this structure: 	            source_0	source_1	source_2
                                                            #    107607	    2596	    NaN	        NaN
                                                            #    104004	    2603	    2648.0	    NaN
                                                            #    104008	    2604	    2658.0	    2671.0
item_data_shard_source = pd.DataFrame.from_dict(source_dict, orient="index", columns=[f"source_{i}" for i in range(1,max([len(val) for val in source_dict.values()])+1)])

# merge previous list with shard sums with shard source (EXLUDING YET UNBUILT CHAMPIONS)
item_data_shards = user_items_flasks_grouped.merge(item_data_shard_source, left_on="reward", right_index=True)
item_data_shards.rename(columns={"id":"num_flasks", "number":"flask_shards"}, inplace=True)
item_data_shards["reward"] = item_data_shards["reward"].astype(int)
item_data_shards.head()

   reward  num_flasks  flask_shards  source_1  source_2  source_3
0  104004           2           235      2603    2648.0       NaN
1  104005           1            20      2660       NaN       NaN
2  104006           1           100      2664       NaN       NaN
3  104007           2            20      2656    2666.0       NaN
4  104008           3           145      2604    2658.0    2671.0

In [129]:
# 6 create new dataframe with shard id and number of champion shards in inventory
user_items_champion_shards = []

# append multiple dataframes to lists
for id_min, id_max in zip(champion_shards_id_min, champion_shards_id_max):
    user_items_champion_shards.append(user_items_raw[user_items_raw["id"].between(id_min, id_max)])

# concat dataframes into one
user_items_champion_shards = pd.concat(user_items_champion_shards)
user_items_champion_shards.head()

            id  number
104000  104000     445
104001  104001     870
104002  104002    1090
104004  104004      25
104005  104005      55

In [130]:
# 7 create new dataframe with unit_id and level of all owned champions (un-crafted might not count yet)
user_units_champions_owned = []

# append multiple dataframes to lists 
for id_min, id_max in zip(champion_id_min, champion_id_max):
    user_units_champions_owned.append(user_units_raw[user_units_raw["unit_id"].between(id_min, id_max)])
    
# concat dataframes into one
user_units_champions_owned = pd.concat(user_units_champions_owned)
    
# keep only the specified columns and drop all others
user_units_champions_owned = user_units_champions_owned.drop(user_units_champions_owned.columns.difference(["unit_id", "level"]), axis=1)
user_units_champions_owned.head()

     unit_id  level
31      4002      9
56      4027      5
77      4030      8
117     4014      8
146     4035      4

In [131]:
# 8
# goal: unit_id | level | shards_sum(owned + available shards) | necessary shards | is_sufficient? | owned shards | flask_shard_sum | flask_count | source_1 | ... | source_n
# ex:   Noctrus | 9     | 965                                  | 900              | True           | 750          | 225             | 2           | 2590... 2631
# fancy print statements?

# convert from shard_it to unit_id
user_items_champion_shards["unit_id"] = user_items_champion_shards["id"] - 100000 # type: ignore

# merge champ level and shards in inventory
full_frame = user_units_champions_owned.merge(user_items_champion_shards, how="right") # type: ignore

# merge shard sources and total form flasks
full_frame = full_frame.merge(item_data_shards, how="left", left_on="id", right_on="reward")

# replace NaN where possible
for col in full_frame:
    if not re.match("source",col): # type: ignore
        full_frame[col] = full_frame[col].fillna(0).astype(int)

# total shards available
full_frame["shards_sum"] = full_frame["number"] + full_frame["flask_shards"]

# shards for next upgrade
def get_cost(level):
    return champion_costs[level]
full_frame["upgrade_cost"] = full_frame["level"].apply(get_cost)

# do you own enough, need flasks or just can't upgrade champ yet
def is_sufficient(owned, potential, cost):
    if owned >= cost:
        return "yes! no flasks necessary!"
    elif owned + potential >= cost:
        return "yes, only with flasks."
    else:
        return f"no, missing {int(cost-potential-owned)}"
full_frame["is_sufficient"] = full_frame.apply(lambda x: is_sufficient(x["number"], x["flask_shards"], x["upgrade_cost"]), axis=1)

full_frame.tail()

,unit_id,level,id,number,reward,num_flasks,flask_shards,source_1,source_2,source_3,shards_sum,upgrade_cost,is_sufficient
71,6612,1,106612,36,0,0,0,NaN,NaN,NaN,36,75,"no, missing 39"
72,6613,0,106613,37,0,0,0,NaN,NaN,NaN,37,50,"no, missing 13"
73,6625,1,106625,45,0,0,0,NaN,NaN,NaN,45,75,"no, missing 30"
74,7601,0,107601,25,0,0,0,NaN,NaN,NaN,25,50,"no, missing 25"
75,7610,6,107610,5,0,0,0,NaN,NaN,NaN,5,400,"no, missing 395"

In [132]:
user_items_flasks.set_index("id", inplace=True) # only runnable once before issues arise
user_items_flasks.head()

      number                flask_name reward1 reward2 reward3 reward4
id
2596      25         Chaos Djinn Flask  107607  106604  106605  106606
2603     200            Tarragon Flask  104004  104013  104031  104038
2604     100           Beetleton Flask  104008  104019  104030    None
2644      60  Forceful Shadomeka Flask  104052  104047  104046  104032
2646      35  Illustrious Cellia Flask  104053  104038  104035  104016

In [136]:
# create new dataframe, replacing all ids with readable item names
# TODO: add amount of each flask in table after source

# replace source ids and ignore NaN
final = full_frame.copy()

source_cols = [f"source_{i+1}" for i in range(sum([1 for col in final if re.match("source", col)]))] # type: ignore

# array consisting of the source columns from the dataframe
arr = []
for col in source_cols:
    arr.append(final[col].values)

# {2603.0: ('Tarragon Flask', 200), 2660.0: ('Enchanted Yaritza Flask', 20),...}
replace_dict = {}
for col in arr:
    for row in col:
        if not np.isnan(row):
            if row not in replace_dict:
                replace_dict[row] = (user_items_flasks.loc[row][1], user_items_flasks.loc[row][0])

def replace_flask_id(flask_id):
    if not np.isnan(flask_id):
        return replace_dict[flask_id][0], replace_dict[flask_id][1]

for i, col in enumerate(source_cols):
    final[[col,f"amount_{i}"]] = final[col].apply(replace_flask_id).apply(pd.Series) # type: ignore

# end game
# re-order columns
# [('source_1', 'amount_1'), ('source_2', 'amount_2'), ('source_3', 'amount_3')]
# BUG: wrong shard amounts in dictionary
# source_amount_comprehension = [(f"source_{i}", f"amount_{i}") for i in range(1,max([len(val) for val in source_dict.values()])+1)]
# source_amount_comprehension = list(itertools.chain(*source_amount_comprehension))

source_amount_comprehension = [f"source_{i}" for i in range(1,max([len(val) for val in source_dict.values()])+1)]

final = final.reindex(columns=["unit_id","level","shards_sum","upgrade_cost","is_sufficient","number","flask_shards"]+source_amount_comprehension)
final = final.rename(columns={"unit_id":"champ", "number":"shards_owned"})

# for col in source_amount_comprehension[1::2]:
#     final[col] = final[col].fillna(0).astype(int)

# use .xml to replace unit_id by champ name
final.replace(cards_shard_dict, inplace=True)
final.head(50)

,champ,level,shards_sum,upgrade_cost,is_sufficient,shards_owned,flask_shards,source_1,source_2,source_3
0,Noctrus Flintclaw,9,445,1200,"no, missing 755",445,0,NaN,NaN,NaN
1,Foxfire,9,870,1200,"no, missing 330",870,0,NaN,NaN,NaN
2,Razi the Fallen Light,9,1090,1200,"no, missing 110",1090,0,NaN,NaN,NaN
3,"Lok'thor, the Reborn",9,260,1200,"no, missing 940",25,235,Tarragon Flask,Superior Reks Flask,NaN
4,"Boldur, Bridge Builder",9,75,1200,"no, missing 1125",55,20,Enchanted Yaritza Flask,NaN,NaN
5,LOCO-5000,6,385,400,"no, missing 15",285,100,Salt Wastes Flask,NaN,NaN
6,"Typhoeus, Storm Father",8,25,900,"no, missing 875",5,20,Fury Alyel Flask,Undying Veric Flask,NaN
7,Rhynio Sun Warrior,7,445,600,"no, missing 155",300,145,Beetleton Flask,Sneaky Ashanti Flask,Vengeful Viir Flask
8,"Kachina, the Dreamer",6,135,400,"no, missing 265",135,0,NaN,NaN,NaN
9,"Columba, Firewing Monk",6,385,400,"no, missing 15",385,0,NaN,NaN,NaN
10,Emerald Amarok,6,315,400,"no, missing 85",290,25,Colossal Moklam Flask,NaN,NaN
11,Cordelia the Twinblade,7,65,600,"no, missing 535",40,25,Protective Yaritza Flask,NaN,NaN
12,"Teroxis, King of Stones",6,345,400,"no, missing 55",145,200,Tarragon Flask,NaN,NaN
13,Vindicator Batara,6,135,400,"no, missing 265",110,25,Colossal Moklam Flask,NaN,NaN
14,Daknak Darkblade,6,105,400,"no, missing 295",70,35,Illustrious Cellia Flask,NaN,NaN
15,King Proteus,7,300,600,"no, missing 300",265,35,Chilling Frostfire Flask,NaN,NaN
16,"Kensho, the Aeromaster",8,920,900,"yes, only with flasks.",835,85,Colossal Moklam Flask,Vicious Veric Flask,Fury Alyel Flask
17,Formos Ebonclaw,7,345,600,"no, missing 255",220,125,Beetleton Flask,Prominent Reks Flask,NaN
18,Sound of Death,8,750,900,"no, missing 150",750,0,NaN,NaN,NaN
19,Plyn Poisontrek,8,505,900,"no, missing 395",445,60,Deep Moklam Flask,Vengeful Viir Flask,NaN
20,"Bluefire, Void Incarnate",6,150,400,"no, missing 250",115,35,Deep Moklam Flask,NaN,NaN
21,"Paloma, Spear Knight",5,240,300,"no, missing 60",240,0,NaN,NaN,NaN
22,The Coalheart Widow,5,315,300,"yes, only with flasks.",190,125,Prominent Reks Flask,Salt Wastes Flask,NaN
23,"Quageye, the Masher",6,190,400,"no, missing 210",190,0,NaN,NaN,NaN
24,"Spikes, the Warmonger",7,95,600,"no, missing 505",95,0,NaN,NaN,NaN
25,Pirate Hunter Eichiro,4,145,225,"no, missing 80",145,0,NaN,NaN,NaN
26,"Cyno, Arbiter of Souls",4,250,225,"yes, only with flasks.",215,35,Superior Reks Flask,NaN,NaN
27,"Mothmo, the Cryptid",8,230,900,"no, missing 670",60,170,Crazy Caesar Flask,Beetleton Flask,Prominent Reks Flask
28,"Sparky, the Royal Pet",6,615,400,"yes, only with flasks.",370,245,Tarragon Flask,Crazy Caesar Flask,NaN
29,"Froggit, the Puppeteer",4,235,225,"yes, only with flasks.",175,60,Forceful Shadomeka Flask,NaN,NaN
30,"Balt, Raptor's Captain",4,240,225,"yes, only with flasks.",205,35,Superior Reks Flask,NaN,NaN
31,"Maki, the Blossom Fist",4,145,225,"no, missing 80",55,90,Roaring Predonyx Flask,NaN,NaN
32,"Vasile, the Night Duke",4,240,225,"yes, only with flasks.",205,35,Illustrious Cellia Flask,NaN,NaN
33,"Leroux, the Macabre",7,610,600,"yes, only with flasks.",475,135,Salt Wastes Flask,Deep Moklam Flask,NaN
34,"Nuvis, the Eye Collector",8,85,900,"no, missing 815",40,45,Vicious Veric Flask,NaN,NaN
35,Royal Fighter Lairel,4,205,225,"no, missing 20",205,0,NaN,NaN,NaN
36,"Iphelia, Voice of Pain",5,115,300,"no, missing 185",55,60,Fury Alyel Flask,Crazy Caesar Flask,NaN
37,"Leyla, Queen of Skyhaven",6,25,400,"no, missing 375",25,0,NaN,NaN,NaN
38,Hidden Omy,4,275,225,"yes, only with flasks.",185,90,Roaring Predonyx Flask,NaN,NaN
39,"Allfather, the Shaper",4,85,225,"no, missing 140",25,60,Chilling Frostfire Flask,Protective Yaritza Flask,NaN
40,Viracocha,5,60,300,"no, missing 240",40,20,Sneaky Ashanti Flask,NaN,NaN
41,"Korg, the Last Touch",4,220,225,"no, missing 5",200,20,Enchanted Yaritza Flask,NaN,NaN
42,"Agatha, Myth Warden",6,125,400,"no, missing 275",30,95,Forceful Shadomeka Flask,Chilling Frostfire Flask,NaN
43,Ark and the Goatapult,5,215,300,"no, missing 85",135,80,Forceful Shadomeka Flask,Sneaky Ashanti Flask,NaN
44,Sgt. Clockoo,5,70,300,"no, missing 230",65,5,Undying Veric Flask,NaN,NaN
45,"Morty Ahab, Seaturned",5,290,300,"no, missing 10",290,0,NaN,NaN,NaN
46,"Illu, Mirage of the Sea",5,150,300,"no, missing 150",150,0,NaN,NaN,NaN
47,"Freya, the Landbinder",5,190,300,"no, missing 110",145,45,Enchanted Yaritza Flask,Vengeful Viir Flask,NaN
48,Shadomeka,6,385,400,"no, missing 15",280,105,Forceful Shadomeka Flask,Vicious Veric Flask,NaN
49,"Cellia, Heir of War",5,300,300,"yes, only with flasks.",265,35,Illustrious Cellia Flask,NaN,NaN

In [ ]:
# 06.04.23 19:30
# -> flask_extractor.py

In [134]:
# TODO: convert notebook to executable .py
# if __name__ == "__main__":
#     main()